/node_modules
/public/build
/public/hot
/public/storage

deployment-package-2025-12-15-134906.zip
/storage/*.key
/storage/framework
/storage/logs
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.idea
/.vscode
git.zip
*.db
*.sqlite